<!DOCTYPE html>
<html lang="en">

<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <title>Brand Flask</title>
 <link type="text/css" rel="stylesheet" href="css/reset.css">
 <link type="text/css" rel="stylesheet" href="css/brandflask_2.0.css">
 <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,700"> 
 <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
 <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>

<body>
	<header>
		<div id="header-nav">
			<nav>
				<ul>						
					<li><a href="list.html"><img id="nav-logo" src="img/flask.png"></a></li>
					<li><a href="#">Top50</a></li>
					<li><a href="#">Luxury</a></li>	
					<li><a href="#">Casual</a></li>	
					<li><a href="#">Multi Brand Shop</a></li>
					<li><a href="#">Boutique</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<div id="container">
    <div id="main">
    	<div id="main-brand">
    		<div id="main-brand-content">
    			<div class="main-brand-content-chart">
    				<div class="main-brand-content-chart-item-rank">1</div>
    				<div class="main-brnad-content-chart-item-detail">
    					<div class="main-brnad-content-chart-item-detail-brandname">Paul Smith</div>
    					<div class="main-brnad-content-chart-item-detail-about"> is an English fashion designer, whose business and reputation is founded upon</div>
					</div>
    			</div>    		
    			<div class="main-brand-content-left">
    			<span id="main-brand-content-title">Ranking Info</span>
    			<div id="main-brand-content-ranking-info">
    				<ul>
    					<div id="main-brand-content-list">
    						This Week's Ranking:
    						<span class="ranking"> 1</span>
							<div class="chart-item-rankchange-icon-up main-brand-content-list-ranking-position"></div>
							<span class="ranking-change-index">24</span>
    					</div>
    					<div id="main-brand-content-list">Popularity Score: <span class="score">36.2</span></div>
    				</ul>
    			</div>
    			<span id="main-brand-content-title">Trendy Among</span>
    			<div id="main-brand-content">
    				<ul>
    					<div id="main-brand-content-list">Age <span class="popular-age">25-34</span></div>
    					<div id="main-brand-content-list">In <span class="popular-city">London</span></div>
    				</ul>
    			</div><span id="main-brand-content-title">Brand Info</span>
    			<div id="main-brand-content">
    				<ul>
    					<div id="main-brand-content-list">Since: <span class="found-year">2003</span></div>
    					<div id="main-brand-content-list">Category: <span class="category">Luxury</span></div>    			
    					<div id="main-brand-content-list">Price: <span class="price">$$$</span></div>
    				</ul>
    			</div>
    			</div>
    	    	<div class="main-brand-content-right">
    	    		<div id="main-brand-content-title-right">Shop This brand at</div>
    	    		<a class="shop-button gilt" href="#">Gilt</a>
    	    		<a class="shop-button neiman-marcus" href="#">Neiman Marcus</a>
    	    		<a class="shop-button net-a-porter" href="#">Net A Porter</a>
    	    		<a class="shop-button Nordstrom" href="#">Nordstrom</a>
    	    	</div>
    			
    			<span id="main-brand-content-title">Photos</span>
				<div id="main-brand-content-photos">
			        <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/v/t1.0-9/1452327_666129173420412_1064928176_n.jpg?oh=17be83d087101554b365df0df9d91cde&oe=54AEA1D2&__gda__=1421455533_57d774ac0f16251d850405a3b5b23e87" >
			        <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1383704_637604619606201_539026728_n.jpg?oh=e64680bc716d28d5a5b6e697e669e740&oe=54B85BA5&__gda__=1421326630_776298e181cac4390671608effa217dc" >
        			<img src="https://scontent-b.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1488143_686450811388248_1253938051_n.jpg?oh=2073b6d708754df0df6ce538e2a0188d&oe=54AEAD77" >
			        <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash2/v/t1.0-9/1385918_644381075595222_1453819968_n.jpg?oh=9f57ad6224b6ad564c0473a0665b51c0&oe=54CAFCC0&__gda__=1421586322_6c9e3f076be59ad6b79fb2fca260d9a1" >
			        <img src="https://scontent-b.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/995288_699842606715735_1267064863_n.jpg?oh=c0c39f610bdb2a494a4a8aa9a5b9e714&oe=54BD4478" >
			        <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1619400_712767762089886_784490890_n.jpg?oh=2c6b39cde56a1a560559fd53f0175c7f&oe=54C864F3&__gda__=1422578800_8fdcb5fcec7c87039c1adb9c57408bd6" >
			        <img src="https://scontent-a.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1535376_737268732973122_493442340_n.jpg?oh=5d523909c3c191397a47bf44e36b6858&oe=54B88103" >
			        <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/s720x720/10174852_755148041185191_8457647417158293353_n.jpg?oh=4ed944292c870e4e670d2b1ba7246ca4&oe=54AB07BC&__gda__=1420547930_493f608e7c587eb13ce761b247ddcff9" >
			        <img src="https://scontent-a.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10173538_758929044140424_1229310788617178625_n.jpg?oh=abb83877be87c4a07246bc96c8c8b78d&oe=54C93A54" >
			        <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10370958_786764581356870_3124362520444150419_n.jpg?oh=7ff83472d9e7c25f33846221076ba090&oe=54C3F352&__gda__=1421299854_a56969afd147d088549c70700f57f253" >
			        <img src="https://scontent-b.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/s720x720/380657_10150840414858447_589710715_n.jpg?oh=d7103c52639aa9ca6c592ddc9e93758b&oe=54BEA486" >
			        <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc3/t31.0-8/s720x720/1014643_575866732466168_616878342_o.jpg" >
			        <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/p720x720/1234291_606138906105617_726758834_n.jpg?oh=c76e1f8ddca3554be522f406fa95fb4e&oe=54CC4304&__gda__=1421666559_eaf899f9022901cb8fcf158f9933e1e0" >
    			</div>
    			
			</div>
    	</div>
    </div>
	</div>


<div id="footer">
    	<div id="footer-nav">
    		<div class="footer-nav-col1">
    			<h2>More Info</h2>
    			<ul>
    				<li><a href="about.html">About Us</a></li>
    			</ul>
		    </div>
		    <div class="footer-nav-col2">
		    	<h2>2014 Rising Stores</h2>
		    	<ul>
		    		<a href="#"><li>Scoop NYC</li></a>
		    		<a href="#"><li>Revolve Clothing</li></a>
		    		<a href="#"><li>Topshop</li></a>
		    		<a href="#"><li>Yoox</li></a>
		    	</ul>
		    </div>	
		    <div class="footer-nav-col3">
		    	<h2>Popular Stores</h2>
			    	<ul>
			    		<a href="#"><li>Gilt</li></a>
			    		<a href="#"><li>Shopbop</li></a>
			    		<a href="#"><li>Neiman Marcus</li></a>
			    		<a href="#"><li>Net-a-Porter</li></a>
			    	</ul>
		    </div>	
		    <div class="footer-nav-col4">
		    	<h2>Connect with Us</h2>
		    	<ul>
		    		<li><a class="footer-facebook" href="www.facebook.com/brandflask"><p>Facebook</p></a></li>
		    		<li><a class="footer-twitter" href="www.twitter.com/brandflask"><p>Twitter</p></a></li>
		    		<li><a class="footer-tumblr" href="www.tumblr.com/brandflask"><p>Tumblr</p></a></li>
		    	</ul>
		    </div>	
    	</div>
</div>
<script src="jquery.sticky.js"></script>
<script type="text/javascript">
	
$( document ).ready(function() {
	
	$(window).scroll(function() {     
	    var scroll = $(window).scrollTop();
	    if (scroll > 0) {
	        $("header").addClass("active");
	    }
	    else {
	        $("header").removeClass("active");
	    }
	});
	
$("#sticker").sticky({topSpacing:70});
});

</script>

</body>
</html>

